<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>AppVersion</servlet-name>
		<servlet-class>com.github.roar109.syring.reader.manifest.reader.AppVersion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AppVersion</servlet-name>
		<url-pattern>/AppVersion/*</url-pattern>
	</servlet-mapping>
</web-app>
